body {background-image: url('images/background.jpg');}
a {color: black;}
a:visited {color: black;}
a:active {color: black;}
a:hover {background-color: red;}
#menu table {border: 2px double black;}
#menu td { 
padding: 5px;
border: 1px solid black; 
text-align: center;
}